* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.problem {
	display: flex;
	gap: 2rem;
}
label,
input {
	display: block;
	outline: none;
	border: none;
}
input {
	padding: 0.5rem 1rem;
	background-color: #afeefc;
	font-size: 1rem;
}
.output {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	min-width: 5rem;
	min-height: 5rem;
	background-color: #efeeff;
	border: 1px solid #afeefc;
}
.output p {
	color: #444;
}
.output p small {
	font-weight: bold;
	color: #289;
	font-size: 1.5rem;
}
